Vagrant.configure("2") do |config|
    config.vm.define "agent1" do |agent1|
      agent1.vm.box = "ubuntu/jammy64"
      agent1.vm.disk :disk, size: "20GB", primary: true
      agent1.vm.network :private_network, ip: "192.168.56.20"
      agent1.vm.provider "virtualbox" do |vb|
        vb.memory = "2048"
      end
      agent1.vm.hostname = "agent1"
      agent1.vm.provision "shell", inline: <<-SHELL
      apt-get -y update
      apt-get -y upgrade
      apt-get install -y gcc make git curl jq net-tools docker.io docker-compose-v2
      touch agent-install.crt
      export HZN_ORG_ID=${HZN_ORG_ID}
      export HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}
      export HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1
      export HZN_FSS_CSSURL=http://192.168.56.10:9443/
      export HZN_AGBOT_URL=http://192.168.56.10:3111
      export HZN_FDO_SVC_URL=http://192.168.56.10:9008/api
      echo "HZN_ORG_ID=${HZN_ORG_ID}" > agent-install.cfg
      echo "HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}" >> agent-install.cfg
      echo "HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1" >> agent-install.cfg
      echo "HZN_FSS_CSSURL=http://192.168.56.10:9443/" >> agent-install.cfg
      echo "HZN_AGBOT_URL=http://192.168.56.10:3111" >> agent-install.cfg
      echo "HZN_FDO_SVC_URL=http://192.168.56.10:9008/api" >> agent-install.cfg
      curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -p IBM/pattern-ibm.helloworld -w '*' -T 120
      export $(cat agent-install.cfg)
    SHELL
  end
    config.vm.define "agent2" do |agent2|
      agent2.vm.box = "ubuntu/jammy64"
      agent2.vm.disk :disk, size: "20GB", primary: true
      agent2.vm.network :private_network, ip: "192.168.56.30"
      agent2.vm.provider "virtualbox" do |vb|
        vb.memory = "2048"
      end
      agent2.vm.hostname = "agent2"
      agent2.vm.provision "shell", inline: <<-SHELL
      apt-get -y update
      apt-get -y upgrade
      apt-get install -y gcc make git curl jq net-tools docker.io docker-compose-v2
      touch agent-install.crt
      export HZN_ORG_ID=${HZN_ORG_ID}
      export HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}
      export HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1
      export HZN_FSS_CSSURL=http://192.168.56.10:9443/
      export HZN_AGBOT_URL=http://192.168.56.10:3111
      export HZN_FDO_SVC_URL=http://192.168.56.10:9008/api
      echo "HZN_ORG_ID=${HZN_ORG_ID}" > agent-install.cfg
      echo "HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}" >> agent-install.cfg
      echo "HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1" >> agent-install.cfg
      echo "HZN_FSS_CSSURL=http://192.168.56.10:9443/" >> agent-install.cfg
      echo "HZN_AGBOT_URL=http://192.168.56.10:3111" >> agent-install.cfg
      echo "HZN_FDO_SVC_URL=http://192.168.56.10:9008/api" >> agent-install.cfg
      curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -p IBM/pattern-ibm.helloworld -w '*' -T 120
      export $(cat agent-install.cfg)
    SHELL
  end
    config.vm.define "agent3" do |agent3|
      agent3.vm.box = "ubuntu/jammy64"
      agent3.vm.disk :disk, size: "20GB", primary: true
      agent3.vm.network :private_network, ip: "192.168.56.40"
      agent3.vm.provider "virtualbox" do |vb|
        vb.memory = "2048"
      end
      agent3.vm.hostname = "agent3"
      agent3.vm.provision "shell", inline: <<-SHELL
      apt-get -y update
      apt-get -y upgrade
      apt-get install -y gcc make git curl jq net-tools docker.io docker-compose-v2
      touch agent-install.crt
      export HZN_ORG_ID=${HZN_ORG_ID}
      export HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}
      export HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1
      export HZN_FSS_CSSURL=http://192.168.56.10:9443/
      export HZN_AGBOT_URL=http://192.168.56.10:3111
      export HZN_FDO_SVC_URL=http://192.168.56.10:9008/api
      echo "HZN_ORG_ID=${HZN_ORG_ID}" > agent-install.cfg
      echo "HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}" >> agent-install.cfg
      echo "HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1" >> agent-install.cfg
      echo "HZN_FSS_CSSURL=http://192.168.56.10:9443/" >> agent-install.cfg
      echo "HZN_AGBOT_URL=http://192.168.56.10:3111" >> agent-install.cfg
      echo "HZN_FDO_SVC_URL=http://192.168.56.10:9008/api" >> agent-install.cfg
      curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -p IBM/pattern-ibm.helloworld -w '*' -T 120
      export $(cat agent-install.cfg)
    SHELL
  end
    config.vm.define "agent4" do |agent4|
      agent4.vm.box = "ubuntu/jammy64"
      agent4.vm.disk :disk, size: "20GB", primary: true
      agent4.vm.network :private_network, ip: "192.168.56.50"
      agent4.vm.provider "virtualbox" do |vb|
        vb.memory = "2048"
      end
      agent4.vm.hostname = "agent4"
      agent4.vm.provision "shell", inline: <<-SHELL
      apt-get -y update
      apt-get -y upgrade
      apt-get install -y gcc make git curl jq net-tools docker.io docker-compose-v2
      touch agent-install.crt
      export HZN_ORG_ID=${HZN_ORG_ID}
      export HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}
      export HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1
      export HZN_FSS_CSSURL=http://192.168.56.10:9443/
      export HZN_AGBOT_URL=http://192.168.56.10:3111
      export HZN_FDO_SVC_URL=http://192.168.56.10:9008/api
      echo "HZN_ORG_ID=${HZN_ORG_ID}" > agent-install.cfg
      echo "HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}" >> agent-install.cfg
      echo "HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1" >> agent-install.cfg
      echo "HZN_FSS_CSSURL=http://192.168.56.10:9443/" >> agent-install.cfg
      echo "HZN_AGBOT_URL=http://192.168.56.10:3111" >> agent-install.cfg
      echo "HZN_FDO_SVC_URL=http://192.168.56.10:9008/api" >> agent-install.cfg
      curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -p IBM/pattern-ibm.helloworld -w '*' -T 120
      export $(cat agent-install.cfg)
    SHELL
  end
    config.vm.define "agent5" do |agent5|
      agent5.vm.box = "ubuntu/jammy64"
      agent5.vm.disk :disk, size: "20GB", primary: true
      agent5.vm.network :private_network, ip: "192.168.56.60"
      agent5.vm.provider "virtualbox" do |vb|
        vb.memory = "2048"
      end
      agent5.vm.hostname = "agent5"
      agent5.vm.provision "shell", inline: <<-SHELL
      apt-get -y update
      apt-get -y upgrade
      apt-get install -y gcc make git curl jq net-tools docker.io docker-compose-v2
      touch agent-install.crt
      export HZN_ORG_ID=${HZN_ORG_ID}
      export HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}
      export HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1
      export HZN_FSS_CSSURL=http://192.168.56.10:9443/
      export HZN_AGBOT_URL=http://192.168.56.10:3111
      export HZN_FDO_SVC_URL=http://192.168.56.10:9008/api
      echo "HZN_ORG_ID=${HZN_ORG_ID}" > agent-install.cfg
      echo "HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}" >> agent-install.cfg
      echo "HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1" >> agent-install.cfg
      echo "HZN_FSS_CSSURL=http://192.168.56.10:9443/" >> agent-install.cfg
      echo "HZN_AGBOT_URL=http://192.168.56.10:3111" >> agent-install.cfg
      echo "HZN_FDO_SVC_URL=http://192.168.56.10:9008/api" >> agent-install.cfg
      curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -p IBM/pattern-ibm.helloworld -w '*' -T 120
      export $(cat agent-install.cfg)
    SHELL
  end
end
